<!DOCTYPE html>
<html>
<head>
  <style>
 </style>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<script type="text/javascript" src=../../email.js></script>
<div class = "container">
  <h1>Enter Your Name</h1>
  <input type="text" class="form-control" id="address" placeholder="Enter Full name">
  <a type="button" class="btn btn-lg btn-primary" onclick="send()"><span class="glyphicon glyphicon-search"></span> Make Reservation</a>
</div>
</body>
</html>