<!DOCTYPE html>
<html>
<head>
  <style>
 </style>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<div class = "container">
  <h1>Enter Your Name</h1>
  <input type="text" class="form-control" id="address" placeholder="Enter Full name">
  <a type="button" class="btn btn-lg btn-primary" href="/view?name=a"><span class="glyphicon glyphicon-search"></span>Check Your Reservations</a>
</div>
</body>
</html>