<!DOCTYPE html>
<html>
<head>
  <style>
 </style>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<div class = "container">
  <h1>Find Your Current Reservations</h1>
  <input type="text" class="form-control" id="email" placeholder="Enter Email Address">
  <button id="viewreserve" type="button" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-search"></span> View Your Reservations</button>

  <div id="reservations-list"></div>

  <script type="text/javascript" src="js/viewReservation.js"></script>
</div>
</body>
</html>